# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
backend/.venv/

# Env files
backend/.env

# OS
.DS_Store
Thumbs.db

# Java / Maven
backend-java/target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
